<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
</head>
<body>
  <div>
    <form name="actionform" method="post" enctype="multipart/form-data" action="index.php">
        Select Action: 
        <select name="activity">
            <option value="Action 1">Action 1</option>
            <option value="Action 2">Action 2</option>
            <option value="Action 3">Action 3</option>
            <option value="Rebate Status">Rebate Status</option>
        </select>
        <br />
        <input type="submit" value="Submit" />
    </form>
  </div>
</body>
</html>
